<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- bestfilms Tab -->
  <ion-tab title="Top20" icon-off="ion-arrow-up-c" icon-on="ion-arrow-up-c" href="#/tab/bestfilms">
    <ion-nav-view name="bestfilms"></ion-nav-view>
  </ion-tab>

  <!-- statistics Tab -->
  <ion-tab title="Statistics" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/statistics">
    <ion-nav-view name="statistics"></ion-nav-view>
  </ion-tab>

  <!-- favorite Tab -->
  <ion-tab title="Favorite" icon-off="ion-android-star"  icon-on="ion-android-star" href="#/tab/favorite">
    <ion-nav-view name="favorite"></ion-nav-view>
  </ion-tab>


</ion-tabs>
